<% include partials/header %>

<h1>
	<%= campDetails.name %>
</h1>
<img src="<%= campDetails.image %>">
<p>
	<%= campDetails.description %>
</p>

<div class="form-group">
		<a href="/campground/<%= campground._id %>/edit" class="btn btn-warning">Edit</a>
		<form action="/campground/<%= campground._id %>?_method=DELETE" method="POST">
			<button class="btn btn-outline-danger">Delete</button>
		</form>
	</div>

<% include partials/footer %>