<% include ../partials/header %>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<h3>Edit <%= campground.name %></h3>
			<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<label for="nameInput">Name</label>
					<input type="text" class="form-control" id="nameInput" name="campground[name]" value="<%= campground.name %>">
				</div>
				<div class="form-group">
					<label for="priceInput">Price</label>
					<input type="number" class="form-control" id="priceInput" name="campground[price]" placeholder="price">
				</div>
				<div class="form-group">
					<label for="imageInput">Image</label>
					<input type="text" class="form-control" id="imageInput" name="campground[image]" value="<%= campground.image %>">
				</div>
				<div class="form-group">
					<label for="descriptionInput">Description</label>
					<input type="text" class="form-control" id="descriptionInput" name="campground[description]" value="<%= campground.description %>">
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">Submit edit</button>
			</form>
			<a href="/campgrounds">Back to the campground page.</a>
		</div>
	</div>
</div>


<% include ../partials/footer %>