<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>YelpCamp</h2>
            <div class="list-group">
                <a href="#" class="list-group-item active">Item 1</a>
                <a href="#" class="list-group-item">Item 2</a>
                <a href="#" class="list-group-item">Item 3</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img src="<%= campground.image %>" id="coverCard" class="card-image-top img-fluid">
                <div class="card-body">
                    <h4 class="float-right">$<%= campground.price %>/night</h4>
                    <h2 class="card-title"><a><%= campground.name %></a></h4>
                    <p class="card-text"><%= campground.description %></p>
                    <p><em>Submitted by <%= campground.author.username %></em></p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit campground</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="btn btn-outline-danger float-right">Delete campground</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="card my-1">
                <div class="card-header mb-2">
                    <div class="float-right">
                        <% if(currentUser && campground.author.id.toString() == currentUser._id.toString()) { %>
                            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add new comment</a>
                        <% } %>
                    </div>
                </div>
                <% campground.comments.forEach(comment => { %>
                    <blockquote class="blockquote my-2 px-3">
                        <p class="mb-0"><%= comment.text %></p>
                        <footer class="blockquote-footer"><%= comment.author.username %><strong class="float-right">10 days ago</strong></footer>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="btn btn-sm btn-outline-danger float-right">Delete</button>
                        </form>
                        <a href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit" class="btn btn-outline-warning btn-sm float-right">Edit</a>
                            <% } %>
                    </blockquote>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>